map $http_upgrade $connection_upgrade {
	default upgrade;
	'' close;
}

# Grafana
server {
  server_name {{ inventory_hostname }};

  root /tmp;
  index index.html index.htm index.nginx-debian.html;

  location /api/live {
    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection $connection_upgrade;
    proxy_set_header Host $http_host;
    proxy_pass http://127.0.0.1:{{ grafana.port }};
  }

  location / {
    proxy_set_header Host $http_host;
    proxy_pass http://127.0.0.1:{{ grafana.port }};
  }
}

# Prometheus
server {
  # HINT: Secondary DNS.
  server_name 440a1038311d.mylabserver.com;

  root /tmp;

  index index.html index.htm index.nginx-debian.html;

  location / {
    proxy_set_header Host $http_host;
    proxy_pass http://127.0.0.1:{{ prometheus.port }};
  }
}
